################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatingWebApplication.SPA/.vs/VSWorkspaceState.json
/DatingWebApplication.SPA/.vs
